.bg-container {
    background-image: url("https://ik.imagekit.io/4z8covdo9/Full%20stack/todolistbg.png?updatedAt=1700761069523");
    width: 300px;
    height: 700px;
    background-size: cover;
    text-align: center;
    font-size: large;
}

.but{
     
    
        color: rgb(242, 242, 242);           
        background-color: orange; 
        padding: 10px 20px;      
        text-align: center;      
        cursor: pointer;                 
        border-radius: 5px;      
        font-size: large;  
        margin-bottom: 20px;
        margin-top: 20px;          

}
.para{
    text-align: left;
    font-size: medium;
}
p{
    font-size: small;
    color: white;
}